*{
    font-family: "Rubik";
}
body, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body > header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    background-color: #ffffff;
    border-radius: 32px;
    border: #000 solid 1px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header a{
    margin: 0.64rem;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: #000 solid 2px; */
    width: 50%;
    height: 100%;
}
article > header{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-weight: bolder;
    font-size: 64px;
}
a{
    text-decoration: none;
}
@media (feColorMatrixw  ) {
    
}
#click-to-top{
    display: block;
    z-index: 10;
    position: fixed;
    bottom: 5%;
    left: 3%;
}

@media (max-width: 1250px) {
    main{
        width: 80%;
    }
}
@media (max-width: 869px) {
    main{
        width: 100%;
    }
    header h1{
        font-size: 45px;
    }
}