:root{
    font-family: "rubik";
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-box{
    max-width: 520px;
}
.article-header{
    width: 100%;
    padding: 1.6rem 0;
    border-bottom: #000 solid 1px;
}
.article-title{
    font-size: 64px;
}
.article-header img{
    display: flex;
    justify-self: center;
    width: 70%;
}

.article-content{
    margin-top: 3.2rem;
}
@media (max-width: 520px) {
    .article-box{
        max-width: 90%;
    }
    .article-title{
        font-size: 10vw;
    }
    .article-header img{
        max-width: 100%;
        height: auto;
    }
}