:root {
    font-family: "Rubik";
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-box, .blog-footer {
    margin: 3.2rem 0;
    width: 640px;
}

.article-header {
    width: 100%;
    padding: 1.6rem 0;
    border-bottom: 1px solid #323232;
}

.article-title {
    font-size: 24px;
    color: #161616;
    line-height: 2;
}

img {
    display: flex;
    width: 70%;
}

li, a{
    text-decoration: underline;
    color: #323232;
    line-height: 1.5;
}
p, .content-header {
    color: #323232;
    line-height: 1.5;
}


.content-header {
    font-size: 18px;
}
.blog-footer{
    font-size: 12px;
    border-top: 1px solid #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog-footer ul{
    list-style: none;
    padding: 0;
}
.article-content, .table-of-content, .blog-footer {
    margin-top: 3.2rem;
}

@media (max-width: 640px) {
    .article-box, .blog-footer {
        max-width: 90%;
    }

    .article-title {
        font-size: 8vw;
        line-height: 1.25;
    }

    .article-header img, .table-of-content {
        width: 100%;
        height: auto;
    }
}
